// padding functions, eg: @include 4pad(10px,10px,0,20px);
@function pad($pad) {
  @return unquote($pad + 'px');
}
@function pad2($pad1, $pad2){
  @return unquote($pad1 + 'px' + ' ' + $pad2 + 'px');
}
@function pad4($pad1, $pad2, $pad3, $pad4){
  @return unquote($pad1 + 'px' + ' ' + $pad2 + 'px' + ' ' + $pad3 + 'px' + ' ' + $pad4 + 'px');
}
// margin functions, eg: @include 4mar(10px,10px,0,20px);
@function mar($mar) {
  @return $mar + 'px';
}
@function mar2($mar1, $mar2){
  @return unquote($mar1 + 'px' + ' ' + $mar2 + 'px');
}
@function mar4($mar1, $mar2, $mar3, $mar4){
  @return unquote($mar1 + 'px' + ' ' + $mar2 + 'px' + ' ' + $mar3 + 'px' + ' ' + $mar4 + 'px');
}

.flip-vert {
	-webkit-transform: scaleY(-1);
	-moz-transform: scaleY(-1);
	-o-transform: scaleY(-1);
	transform: scaleY(-1);
}

.pad-5 { padding: pad(5);} 
.pad-10 { padding: pad(10);}
.pad-15 { padding: pad(15);}
.pad-20 { padding: pad(20);}
.pad-25 { padding: pad(25);}
.pad-10-0 { padding: 2pad(10, 0);}

.mar-0 { margin: 0;}
.mar-10-0 { margin: 2mar(10, 0);}
.mar-10-na-na-na { margin-top: 10px;}

.width-100p { width: 100%; }
.height-100p { width: 100%; }

.block { display: block; }
.inline-block { display: inline-block; }

// H E A D E R S

h1 { font-weight: 100; }

// C O L O R S

$white: #fff;
$gray : #9b9b9b;
$neon: #00aaed;
$green: #7ED321;
$red: #FC3850;
$purple: purple;

.white { color: $white; }
.gray { color: $gray; }
.neon { color: $neon; }
.green { color: $green; }
.red { color: $red; }
.neon { color: $neon; }
.purple { color: $purple; }

// F O N T  S I Z E

.p8 { font-size: 8px; }
.p9 { font-size: 9px; }
.p10 { font-size: 10px; }
.p12 { font-size: 12px; }
.p14 { font-size: 14px; }
.p16 { font-size: 16px; }
.p18 { font-size: 18px; }
.p20 { font-size: 20px; }
.p22 { font-size: 22px; }
.p24 { font-size: 24px; }
.p26 { font-size: 26px; }
.p28 { font-size: 28px; }
.p30 { font-size: 30px; }

// T E X T 

.light { font-weight: 100; }
.centered { text-align: center; }
.text-center { text-align: center; }
.text-left { text-align: left; }
.text-right { text-align: right; }
.text-justify { text-align: justify; }

// D R O P D O W N S

.dropdown {
	>a { }
	.dropdown-menu {
		background-color: black;
		border: 1px solid rgba(255,255,255,.2);
		ul { 
			padding: 0;
			margin: 0;
			width: auto;
			li { padding: 0;
				a {
					font-weight: 100;
					padding: 2px 0 2px 10px;
					display: block;
					&:hover { 
						color: white; 
						font-weight: 500; 
						text-decoration: none;
						background-color: rgba(255,255,255,.1);
						i { margin-left: 3px; }
					} 
					i { 
						@include transition(all .3s ease-in-out);
						padding: 2px 5px; 
					}
				}
			}
		}
	}
}

// M I S C

hr.light { border-color: rgba(255,255,255,.1); }



