
@import '_fonts.scss';
@import '_transitions.scss';
@import '_atomic.scss';
@import 'sweetalert.css';

html, body { 
  padding: 0; margin: 0; height: 100%; 
  position: relative; 
  font-family: 'Open Sans'; 
  color: white;
  background-image: url("../images/textures/grey_@2X.png");
  background-repeat: repeat;
}

#bg { 
  height: 100%; width: 100%;
  position:fixed;
  background-color: rgba(0,0,0,.9);
}

#mainbody {
  margin-left: 300px;
  width: calc(100% - 300px);
  height: 100%;
}



a, a:active, a:focus { 
  color: $neon; text-decoration: none; 
  &:hover { }
}

ul, li { list-style: none; }

// N A V I G A T I O N

#leftNavContainer {
  position: fixed;
  left: 0;
  background-color: #2B2B2B;
  width: 300px;
  height: 100%;
  top: 0;

  hr { border-color: #0b0b0b; }
  #menuBars { padding: 1000px; }
  #logo-lite {
    width: 103px;
    margin-left: calc(50% - 51.5px);
    padding: pad2(10, 0);
  }
} 

// I N P U T,  S E L E C T,  L A B E L ,  & B U T T O N S

form {
  .form-group { padding-bottom: 5px; }
  label { width: 50px; font-weight: 100; @extend .gray; }
}

input.input-neon, select.select-neon, textarea.textarea-neon, label.btn-neon { 
  border-color: gray;
  color: $gray;
  background-color: #2b2b2b;
  cursor: pointer;
  border-radius: 0px;
  -moz-border-radius: 0px; 
  -webkit-border-radius: 0px; 
  &.active, &:focus, &:active { 
    border-color: $white; 
    color: white;
    box-shadow: none;
    outline: none;
  }
}

.satoshi {
  letter-spacing: 8px;
}

.btn-group {
  &.radioSpacing {
    label { 
      margin-right: 15px; 
      &.spacing { margin-right: 30px; }
    }
  }
}

.btn {
  &:hover{ text-decoration: none;}
  &.btn-neon { 
    border-color: gray;
    color: $gray;
    background-color: #2b2b2b;
    cursor:pointer;
    border-radius: 0;
    @include transition(all .2s ease-in-out);
    &:hover {
      border-color: $neon;
      color: $neon;
    }
    i { 
      @include transition(all .2s ease-in-out); 
      margin-left:5px; 
    }
  }
}

// B A D G E S

.badge {
    background-color: transparent;
    border-radius: 0;
  &.badge-green {
    border: 1px solid $green;
    color: $green;
  }
  &.badge-neon {
    border: 1px solid $gray;
    color: $gray;
  }
}

// A L E R T S

.alert {
  &.alert-muted {
    background-color: none;
    border-color: gray
  }
  button.close { text-shadow: none; color: white; border: none;}
}

// F O R M S

#predictionForm {
  label { 
    width:60px;
  }
  button, input, textarea, select, .btn-group {
    width: 190px !important;
  }
  textarea {
    font-size: 10px;
  }
}

#loginForm {
  label {
    width: 35px;
  }
  input, .btn-group {
    width: 175px !important;
  }
  button { width: 100%; }
  .col-xs-6 { padding: 0;}
}

// P R E D I C T I O N  C A R D S

.predictionCard {
  margin-bottom: 10px;
  background-color: rgba(0,0,0,.1);
  border: 1px dotted rgba(255,255,255,.07);
  @include transition(all 1s ease-in-out); 
  &:hover {
    border: 1px dashed rgba(255,255,255,.2);
  }
  .header {
    background-color: rgba(255,255,255,.05);
    padding: 10px;
    height: 40px;
    a:hover { 
      color: white; 
      @include transition(all 1s ease-in-out);
    }
  }
  .body {
    padding: 10px;
    h3 { margin-top: 0px; }
    .hfm-buttons {
      .zxc { opacity: 0; }
      a {
        @include transition(all .3s ease-in-out);
        text-shadow: none;
        &:nth-of-type(1) { color: $green; 
          &:hover { text-shadow: 0px 0px 10px $green, 0px 0px 20px $green; }
        }
        &:nth-of-type(2) { color: $red;
          &:hover { text-shadow: 0px 0px 10px $red, 0px 0px 20px $red; }
        }
        &:hover {
          color: black;
        }
      }
    }
  }
}


// N A V I G A T I O N

#navLinks {
  .dropdown {
    > a { }
    .dropdown-menu { 
      width: 100px !important;
      ul {
        li {
          a {
            text-align: left; 
            &:hover { }
          }
        }
      }
    }
  }
}