@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,700italic,400,300,700);
/*

Pure CSS3 bounce effect. 

TODO: 
    Find a better way to do it with scss.

Support: 
    Webkit, Chrome and Safari

How to use:
    -webkit-animation: bounce 800ms ease-out;
    -moz-animation: bounce 800ms ease-out;
    -o-animation: bounce 800ms ease-out;
    animation: bounce 800ms ease-out;

 */
@import url(sweetalert.css);
@-webkit-keyframes bounce {
  0% {
    -webkit-transform: translateY(-100%);
    opacity: 0; }
  5% {
    -webkit-transform: translateY(-100%);
    opacity: 0; }
  15% {
    -webkit-transform: translateY(0);
    padding-bottom: 5px; }
  30% {
    -webkit-transform: translateY(-50%); }
  40% {
    -webkit-transform: translateY(0%);
    padding-bottom: 6px; }
  50% {
    -webkit-transform: translateY(-30%); }
  70% {
    -webkit-transform: translateY(0%);
    padding-bottom: 7px; }
  80% {
    -webkit-transform: translateY(-15%); }
  90% {
    -webkit-transform: translateY(0%);
    padding-bottom: 8px; }
  95% {
    -webkit-transform: translateY(-10%); }
  97% {
    -webkit-transform: translateY(0%);
    padding-bottom: 9px; }
  99% {
    -webkit-transform: translateY(-5%); }
  100% {
    -webkit-transform: translateY(0);
    padding-bottom: 9px;
    opacity: 1; } }
/* Mozilla Firefox 15 below */
@-moz-keyframes bounce {
  0% {
    -moz-transform: translateY(-100%);
    opacity: 0; }
  5% {
    -moz-transform: translateY(-100%);
    opacity: 0; }
  15% {
    -moz-transform: translateY(0);
    padding-bottom: 5px; }
  30% {
    -moz-transform: translateY(-50%); }
  40% {
    -moz-transform: translateY(0%);
    padding-bottom: 6px; }
  50% {
    -moz-transform: translateY(-30%); }
  70% {
    -moz-transform: translateY(0%);
    padding-bottom: 7px; }
  80% {
    -moz-transform: translateY(-15%); }
  90% {
    -moz-transform: translateY(0%);
    padding-bottom: 8px; }
  95% {
    -moz-transform: translateY(-10%); }
  97% {
    -moz-transform: translateY(0%);
    padding-bottom: 9px; }
  99% {
    -moz-transform: translateY(-5%); }
  100% {
    -moz-transform: translateY(0);
    padding-bottom: 9px;
    opacity: 1; } }
/* Opera 12.0 */
@-o-keyframes bounce {
  0% {
    -o-transform: translateY(-100%);
    opacity: 0; }
  5% {
    -o-transform: translateY(-100%);
    opacity: 0; }
  15% {
    -o-transform: translateY(0);
    padding-bottom: 5px; }
  30% {
    -o-transform: translateY(-50%); }
  40% {
    -o-transform: translateY(0%);
    padding-bottom: 6px; }
  50% {
    -o-transform: translateY(-30%); }
  70% {
    -o-transform: translateY(0%);
    padding-bottom: 7px; }
  80% {
    -o-transform: translateY(-15%); }
  90% {
    -o-transform: translateY(0%);
    padding-bottom: 8px; }
  95% {
    -o-transform: translateY(-10%); }
  97% {
    -o-transform: translateY(0%);
    padding-bottom: 9px; }
  99% {
    -o-transform: translateY(-5%); }
  100% {
    -o-transform: translateY(0);
    padding-bottom: 9px;
    opacity: 1; } }
/* W3, Opera 12+, Firefox 16+ */
@keyframes bounce {
  0% {
    transform: translateY(-100%);
    opacity: 0; }
  5% {
    transform: translateY(-100%);
    opacity: 0; }
  15% {
    transform: translateY(0);
    padding-bottom: 5px; }
  30% {
    transform: translateY(-50%); }
  40% {
    transform: translateY(0%);
    padding-bottom: 6px; }
  50% {
    transform: translateY(-30%); }
  70% {
    transform: translateY(0%);
    padding-bottom: 7px; }
  80% {
    transform: translateY(-15%); }
  90% {
    transform: translateY(0%);
    padding-bottom: 8px; }
  95% {
    transform: translateY(-7%); }
  97% {
    transform: translateY(0%);
    padding-bottom: 9px; }
  99% {
    transform: translateY(-3%); }
  100% {
    transform: translateY(0);
    padding-bottom: 9px;
    opacity: 1; } }
.pad-5 {
  padding: 5px; }

.pad-10 {
  padding: 10px; }

.pad-15 {
  padding: 15px; }

.pad-20 {
  padding: 20px; }

.pad-25 {
  padding: 25px; }

.pad-10-0 {
  padding: 2pad 10, 0; }

.mar-0 {
  margin: 0; }

.mar-10-0 {
  margin: 2mar 10, 0; }

.mar-10-na-na-na {
  margin-top: 10px; }

.width-100p {
  width: 100%; }

.height-100p {
  width: 100%; }

.block {
  display: block; }

.inline-block {
  display: inline-block; }

h1 {
  font-weight: 100; }

.white {
  color: #fff; }

.gray, form label {
  color: #9b9b9b; }

.neon {
  color: #00aaed; }

.green {
  color: #7ED321; }

.red {
  color: #FC3850; }

.neon {
  color: #00aaed; }

.purple {
  color: purple; }

.p8 {
  font-size: 8px; }

.p9 {
  font-size: 9px; }

.p10 {
  font-size: 10px; }

.p12 {
  font-size: 12px; }

.p14 {
  font-size: 14px; }

.p16 {
  font-size: 16px; }

.p18 {
  font-size: 18px; }

.p20 {
  font-size: 20px; }

.p22 {
  font-size: 22px; }

.p24 {
  font-size: 24px; }

.p26 {
  font-size: 26px; }

.p28 {
  font-size: 28px; }

.p30 {
  font-size: 30px; }

.light {
  font-weight: 100; }

.centered {
  text-align: center; }

.dropdown .dropdown-menu {
  background-color: black;
  border: 1px solid rgba(255, 255, 255, 0.2); }
  .dropdown .dropdown-menu ul {
    padding: 0;
    margin: 0;
    width: auto; }
    .dropdown .dropdown-menu ul li {
      padding: 0; }
      .dropdown .dropdown-menu ul li a {
        font-weight: 100;
        padding: 2px 0 2px 10px;
        display: block; }
        .dropdown .dropdown-menu ul li a:hover {
          color: white;
          font-weight: 500;
          text-decoration: none;
          background-color: rgba(255, 255, 255, 0.1); }
          .dropdown .dropdown-menu ul li a:hover i {
            margin-left: 3px; }
        .dropdown .dropdown-menu ul li a i {
          -webkit-transition: all 0.3s ease-in-out;
          transition: all 0.3s ease-in-out;
          padding: 2px 5px; }

hr.light {
  border-color: rgba(255, 255, 255, 0.1); }

html, body {
  padding: 0;
  margin: 0;
  height: 100%;
  position: relative;
  font-family: 'Open Sans';
  color: white;
  background-image: url("../images/textures/grey_@2X.png");
  background-repeat: repeat; }

#bg {
  height: 100%;
  width: 100%;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.9); }

#mainbody {
  margin-left: 300px;
  width: calc(100% - 300px);
  height: 100%; }

a, a:active, a:focus {
  color: #00aaed;
  text-decoration: none; }

ul, li {
  list-style: none; }

#leftNavContainer {
  position: fixed;
  left: 0;
  background-color: #2B2B2B;
  width: 300px;
  height: 100%;
  top: 0; }
  #leftNavContainer hr {
    border-color: #0b0b0b; }
  #leftNavContainer #menuBars {
    padding: 1000px; }
  #leftNavContainer #logo-lite {
    width: 103px;
    margin-left: calc(50% - 51.5px);
    padding: 10px 0px; }

form .form-group {
  padding-bottom: 5px; }
form label {
  width: 50px;
  padding-left: 5px;
  font-weight: 100; }

input.input-neon, select.select-neon, label.btn-neon {
  border-color: gray;
  color: #9b9b9b;
  background-color: #2b2b2b;
  cursor: pointer;
  border-radius: 0px;
  -moz-border-radius: 0px;
  -webkit-border-radius: 0px; }
  input.input-neon.active, input.input-neon:focus, input.input-neon:active, select.select-neon.active, select.select-neon:focus, select.select-neon:active, label.btn-neon.active, label.btn-neon:focus, label.btn-neon:active {
    border-color: #fff;
    color: white;
    word-spacing: 16px;
    box-shadow: none;
    outline: none; }

.satoshi {
  letter-spacing: 8px; }

.btn-group.radioSpacing label {
  margin-right: 15px; }
  .btn-group.radioSpacing label.spacing {
    margin-right: 30px; }

.btn:hover {
  text-decoration: none; }
.btn.btn-neon {
  border-color: gray;
  color: #9b9b9b;
  background-color: #2b2b2b;
  cursor: pointer;
  border-radius: 0;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out; }
  .btn.btn-neon:hover {
    border-color: #00aaed;
    color: #00aaed; }
  .btn.btn-neon i {
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    margin-left: 5px; }

.badge {
  background-color: transparent;
  border-radius: 0; }
  .badge.badge-green {
    border: 1px solid #7ED321;
    color: #7ED321; }
  .badge.badge-neon {
    border: 1px solid #9b9b9b;
    color: #9b9b9b; }

.alert.alert-muted {
  background-color: none;
  border-color: gray; }
.alert button.close {
  text-shadow: none;
  color: white;
  border: none; }

.predictionCard {
  margin-bottom: 10px;
  border: 1px dotted rgba(255, 255, 255, 0.07);
  -webkit-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out; }
  .predictionCard:hover {
    border: 1px dashed rgba(255, 255, 255, 0.2); }
  .predictionCard .header {
    background-color: rgba(255, 255, 255, 0.05);
    padding: 10px;
    height: 40px; }
    .predictionCard .header a:hover {
      color: white;
      -webkit-transition: all 1s ease-in-out;
      transition: all 1s ease-in-out; }
  .predictionCard .body {
    padding: 10px; }
    .predictionCard .body h3 {
      margin-top: 0px; }
    .predictionCard .body .hfm-buttons .zxc {
      opacity: 0; }
    .predictionCard .body .hfm-buttons a {
      -webkit-transition: all 0.3s ease-in-out;
      transition: all 0.3s ease-in-out;
      text-shadow: none; }
      .predictionCard .body .hfm-buttons a:nth-of-type(1) {
        color: #7ED321; }
        .predictionCard .body .hfm-buttons a:nth-of-type(1):hover {
          text-shadow: 0px 0px 10px #7ED321, 0px 0px 20px #7ED321; }
      .predictionCard .body .hfm-buttons a:nth-of-type(2) {
        color: #FC3850; }
        .predictionCard .body .hfm-buttons a:nth-of-type(2):hover {
          text-shadow: 0px 0px 10px #FC3850, 0px 0px 20px #FC3850; }
      .predictionCard .body .hfm-buttons a:hover {
        color: black; }

#navLinks .dropdown .dropdown-menu {
  width: 100px !important; }
  #navLinks .dropdown .dropdown-menu ul li a {
    text-align: left; }

/*# sourceMappingURL=main.css.map */
