
@import '_fonts.scss';
@import '_transitions.scss';
@import '_atomic.scss';

html, body { 
  padding: 0; margin: 0; height: 100%; 
  position: relative; 
  font-family: 'Open Sans'; 
  color: white;
  background-image: url("../images/textures/grey_@2X.png");
  background-repeat: repeat;
}

#bg { 
  height: 100%; width: 100%;
  position:fixed;
  background-color: rgba(0,0,0,.9);
}

#mainbody {
  margin-left: 300px;
  width: calc(100% - 300px);
  height: 100%;
}



a, a:active, a:focus { 
  color: $neon; text-decoration: none; 
  &:hover { }
}

ul, li { list-style: none; }

// N A V I G A T I O N

#leftNavContainer {
  position: fixed;
  left: 0;
  background-color: #2B2B2B;
  width: 300px;
  height: 100%;
  top: 0;

  hr { border-color: #0b0b0b; }
  #menuBars { padding: 1000px; }
  #logo-lite {
    width: 103px;
    margin-left: calc(50% - 51.5px);
    padding: pad2(10, 0);
  }
} 

// I N P U T,  S E L E C T,  L A B E L ,  & B U T T O N S

form {
  .form-group { padding-bottom: 5px; }
  label { width: 50px; padding-left: 5px; font-weight: 100; @extend .gray; }
}

input.input-neon, select.select-neon, label.btn-neon { 
  border-color: gray;
  color: $gray;
  background-color: #2b2b2b;
  cursor: pointer;
  border-radius: 0px; 
  -moz-border-radius: 0px; 
  -webkit-border-radius: 0px; 
  &.active, &:focus, &:active { 
    border-color: $white; 
    color: white;
    word-spacing: 16px;
    box-shadow: none;
    outline: none;
  }
}

.btn-group {
  &.radioSpacing {
    label { 
      margin-right: 15px; 
      &.spacing { margin-right: 30px; }
    }
  }
}

.btn {
  &:hover{ text-decoration: none;}
  &.btn-neon { 
    border-color: gray;
    color: $gray;
    background-color: #2b2b2b;
    cursor:pointer;
    border-radius: 0;
    @include transition(all .2s ease-in-out);
    &:hover {
      border-color: $neon;
      color: $neon;
      i { margin-left: 20px; }
    }
    i { 
      @include transition(all .2s ease-in-out); 
      margin-left:5px; 
    }
  }
}

// A L E R T S

.alert {
  &.alert-muted {
    background-color: none;
    border-color: gray
  }
  button.close { text-shadow: none; color: white; border: none;}
}

// P R E D I C T I O N  C A R D S

.predictionCard {
  margin-bottom: 10px;
  border: 1px dotted rgba(255,255,255,.07);
  @include transition(all 1s ease-in-out); 
  &:hover {
    border: 1px dashed rgba(255,255,255,.2);
  }
  .header {
    background-color: rgba(255,255,255,.05);
    padding: 10px;
    height: 40px;
    a:hover { 
      color: white; 
      @include transition(all 1s ease-in-out);
    }
  }
  .body {
    padding: 10px;
    .hfm-buttons {
      .zxc { opacity: 0; }
      a {
        @include transition(all .3s ease-in-out);
        text-shadow: none;
        &:nth-child(1) { color: $green; 
          &:hover { text-shadow: 0px 0px 10px $green, 0px 0px 20px $green; }
        }
        &:nth-child(2) { color: $gray;
          &:hover { text-shadow: 0px 0px 10px $gray, 0px 0px 20px $gray; }
        } 
        &:nth-child(3) { color: $red;
          &:hover { text-shadow: 0px 0px 10px $red, 0px 0px 20px $red; }
        }
        &:hover {
          color: black;
        }
      }
    }
  }
}


