<div class="form-group col-xs-12">
	<form>
		<div class="btn-group radioSpacing" data-toggle="buttons">
		  <label class="btn btn-neon active white">
		    <input type="radio" name="options" id="option1" autocomplete="off" checked> all
		  </label>
			<label class="btn btn-neon white">
		    <input type="radio" name="options" id="option1" autocomplete="off" checked> hot
		  </label>
		  <label class="btn btn-neon white spacing">
		    <input type="radio" name="options" id="option1" autocomplete="off" checked> you
		  </label>
		  <label class="btn btn-neon white">
		    <input type="radio" name="options" id="option1" autocomplete="off" checked> BTC
		  </label>
		  <label class="btn btn-neon white">
		    <input type="radio" name="options" id="option2" autocomplete="off"> ETH
		  </label>
		  <label class="btn btn-neon white">
		    <input type="radio" name="options" id="option2" autocomplete="off"> ETC
		  </label>
		  <label class="btn btn-neon white">
		    <input type="radio" name="options" id="option2" autocomplete="off"> FCT
		  </label>
		</div>
	</form>
</div>

<div class="col-sm-4 col-xs-12" ng-repeat="card in pCard.data">
	<div class="predictionCard">
		<div class="header">
			<a href="" class="block">
				<b class="pull-left">{{card.userName}}</b>
				<span class="pull-right">{{card.userPts > 0 ? '+' + card.userPts : card.userPts}} pts</span>
			</a>
		</div>
		<div class="body gray">
			<div class="col-xs-6">
				<p class="white">
					<b>{{card.coin}}</b><span class="pull-right">{{card.position}}</span>
				</p>
				<p>
					Open:<span class="pull-right">{{card.open}}</span>
				</p>
				<p>
					Close:<span class="pull-right">{{card.close}}</span>
				</p>
				<p>
					<span ng-hide="card.position == 'long'">
						Stop:
						<span class="pull-right">{{card.stop}}</span>
					</span>&ensp;
				</p>
			</div>
			<div class="col-xs-6">
				<p class="centered">Current Return</p>
				<h3 class="centered" ng-class="colorize(card);">{{card.score > 0 ? '+' + card.score : card.score}}</h3>
				<p class="centered hfm-buttons">
					<a href=""><i class="glyphicon glyphicon-ok-circle"></i></a> &ensp;
					<a href=""><i class="glyphicon glyphicon-adjust"></i></a> &ensp;
					<a href=""><i class="glyphicon glyphicon-ban-circle"></i></a>
				</p>
			</div>
			<div class="clearfix"></div>
		</div>
	</div>
</div>
