<br>
<img id="logo-lite" class="pad-10-0 mar-10-na-na-na" src="images/logo-light.png">
<br><br><hr>
<div class="clearfix"></div>
<div class="col-xs-12">
	<div id="navLinks">
		<p class="centered">
			Hi, BetaUser99
			&ensp;
			<a href=""><i class="glyphicon glyphicon-cog"></i></a></li>
		</p>
	</div>
</div>
<div class="col-xs-6 centered">
	<h2 class="mar-0" data-toggle="tooltip" data-title="spend Tokens to hype/fud">101</h2>
	<p class="graytext">tokens</p>
</div>
<div class="col-xs-6 centered">
	<h2 class="mar-0">+15.6</h2>
	<p class="graytext">points</p>
</div>
<div class="clearfix"></div>
<hr>
<h4 class="centered graytext">Make a Prediction</h4>
<br>

<div ng-include="'partials/predictionForm.html'"></div>
<!--        P O L O N I E X    C H A T             -->

<div  class="col-xs-12">

</div>