<!--        S T A R T    P R E D I C T I O N    F O R M         -->
<div class="col-xs-12">
	<form class="form-inline" id="predictionForm" ng-submit="alert('test');">

		<div class="form-group col-xs-12">
				<label for="trend">Position</label>
				<div class="btn-group" data-toggle="buttons" style="width:175px;" >
				  <label class="btn btn-neon white" style="width:50%;" ng-click="NewPrediction.data.position = 'long';">
				    <input type="radio"> Long
				  </label>
				  <label class="btn btn-neon white" style="width:50%;" ng-click="NewPrediction.data.position = 'short';">
				    <input type="radio"> Short
				  </label>
			</div>
		</div>

	  <div class="form-group col-xs-12">
	    <label for="coin">Coin</label>
	    <select ng-model="NewPrediction.data.coin" ng-click="clearPrediction();" ng-options="item.coin as item.coin for item in AllCoins.data" class="form-control select-neon" style="width:175px; border-radius: 0 !important;"></select>
	  </div>

	  <div class="form-group col-xs-12">
	    <label for="close">Close</label>
	    <input type="text" class="satoshi form-control input-neon" id="close" ng-model="NewPrediction.data.close" autocomplete="off">
	  </div>

	  <div class="form-group col-xs-12">
	    <label for="close">Open</label>
	    <input type="text" class="satoshi form-control input-neon" id="open" ng-model="NewPrediction.data.open" autocomplete="off">
	  </div>

	  <div class="form-group col-xs-12">
	    <label for="close">Stop</label>
	    <input type="text" class="satoshi form-control input-neon" id="stop" ng-model="NewPrediction.data.stop" autocomplete="off">
	  </div>

	  <div class="col-xs-12">
	  	<br>
	  	<button type="submit" value="submit" class="btn btn-neon" style="margin-left: 54px; width: 175px">Submit <i class="glyphicon glyphicon-arrow-right"></i>
	  	</button>
  	</div>

	</form>
</div>

<!--         E N D    P R E D I C T I O N    F O R M        